body {
    front-family: Arial;
    text-aligh: center;
    background-color: black;
}
/* Header */
header {
  background: #1e293b;
  padding: 20px;
}

/* Hero section */
.hero {
  padding: 60px 20px;
}

.hero h2 {
  font-size: 40px;
}

/* Button */
button {
  padding: 10px 20px;
  border: none;
  background: black;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background: black;
}

/* Gallery */
.gallery {
  padding: 40px;
}

.gallery img {
  width: 250px;
  margin: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.1);
}

/* Footer */
footer {
  background: #1e293b;
  padding: 15px;
  margin-top: 30px;
}

h1 {
    color: green;
    
}
h2 {
    color: green
}
p {
    color: green
}

button {
    color: green
}
img {
    width: 500px;
    border-radius: 20px;

}
img:hover {
    transform: scale(1.1);
}