body {
    front-family: Arial;
    text-aligh: center;
    background-color: rgb(180, 162, 146);
}
/* Header */
header {
  background: #1e293b;
  padding: 20px;
}

/* Hero section */
.hero {
  padding: 60px 20px;
}

.hero h2 {
  font-size: 40px;
}

/* Button */
button {
  padding: 10px 20px;
  border: none;
  background: rgb(180, 162, 146);
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background: wheat;
}

/* Gallery */
.gallery {
  padding: 40px;
}

.gallery img {
  width: 250px;
  margin: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.1);
  

/* Footer */
footer {
  background: #1e293b;
  padding: 15px;
  margin-top: 30px;
}

h1 {
    color: green;
    
}
h2 {
    color: green
}
p {
    color: green
}
h3 {
    color: green
}

button {
    color: green
}
img {
    width: 500px;
    border-radius: 20px;

}
img:hover {
    transform: scale(1.1);
}
.player {
  background: #1e293b;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 0 10px #000;
}

.player h3 {
  margin-bottom: 10px;
}

.player button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  background: #38bdf8;
  border-radius: 8px;
  cursor: pointer;
}

.player button:hover {
  background: #0ea5e9;
}